[Unit]
Description=Laravel Horizon Queue Manager ({{ app }})
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/php {{ www_path }}/{{ app }}/artisan horizon
# User=www-data
# Group=www-data
Restart=always

[Install]
WantedBy=multi-user.target
